@model PortfolioCore.Models.Podcast

@{
    ViewData["Title"] = "DetallePodcast";
}

    
    <h1 class="display-4 text-center">@Model.titulo</h1>

    <div class="text-muted text-justify">
        <h5>@Model.descripcion</h5>
    </div>

    <div class="m-4">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="@Model.url"></iframe>
    </div>

    <p class="text-justify">@Model.contenido</p>

    <div class="text-center">
        <a asp-action="Podcasts" class="btn btn-light m-3">Todos los podcasts</a>
    </div>
   
