@model PortfolioCore.Models.Relato

@{
    ViewData["Title"] = "DetalleRelato";
}

<h1 class="display-4 text-center mb-4">@Model.titulo </h1>

@if (Model.descripcion != null)
{
    <h5 class="lead text-justify">
        @Html.Raw(Model.descripcion)
    </h5>
}

<div class="row justify-content-center m-3">
    <iframe width="466" height="251" class="embed-responsive-item" src="@Model.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row mb-4">
    @Html.Raw(Model.contenido)
</div>

<div class="row justify-content-center">
    <a asp-action="Relatos" class="btn btn-light m-3">Todos los relatos</a>
</div>