@model PortfolioCore.Models.Podcast

@{
    ViewData["Title"] = "DetallePodcast";
}

    <div class="text-center">
        <h1 class="display-4">@Model.titulo</h1>

        <div class="text-muted">
            <h5>@Model.descripcion</h5>
        </div>

        <div class="m-4">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="@Model.url"></iframe>
        </div>

        <p>@Model.contenido</p>

        <div>
            <a asp-action="Relatos" class="btn btn-light m-3">Todos los relatos</a>
        </div>
    </div>
